h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

.game-board {
  display:flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
}